<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="paixaoporti.com.br.listadecompras">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DicasActivity" />
        <activity android:name=".dica1Activity" />
        <activity android:name=".dica2Activity" />
        <activity android:name=".dica3Activity" />
        <activity android:name=".dica4Activity" />
        <activity android:name=".dica5Activity" />
        <activity android:name=".dica6Activity" />
        <activity android:name=".dica7Activity" />
        <activity android:name=".dica8Activity" />
        <activity android:name=".dica9Activity" />
        <activity android:name=".dica10Activity" />
        <activity android:name=".dica11Activity" />
    </application>

</manifest>